<h1>New Episode:</h1>

<%= form_for @guest, :url => { :action => "create" } do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.label :occupation %>:
  <%= f.text_field :occupation %><br />
  <%= f.submit %>
<% end %>

<%= link_to "Back", :back, {:class=>"btn btn-default"} %>
