<h1>Episode:</h1>

<p>Date: <%= @episode.date %></p>
<p>Number:<%= @episode.number %></p>
<p>Created At: <%= @episode.created_at %></p>
<p>Updated At: <%= @episode.updated_at %></p>

<%= link_to "Back", :back, {:class=>"btn btn-default"} %>
